In [ ]:
## QUESTION no 1

In [9]:




import pandas as pd1

In [10]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
l = ['4','8','15','16','43']

In [21]:
ser =  pd1.Series(l)
print(ser)

0     4
1     8
2    15
3    16
4    43
dtype: object

In [22]:
type(ser)

pandas.core.series.Series

In [23]:
##QUESTION no 2

In [27]:
var_1 = pd1.Series(['name1','name2','name3','name4','name5','name6','name7','name8','name9','name10'])

In [28]:
var_1

0     name1
1     name2
2     name3
3     name4
4     name5
5     name6
6     name7
7     name8
8     name9
9    name10
dtype: object

In [29]:
#ques 3

In [30]:
data = { 'Name': ['Alice',' Bob' ,'Claire'],'age':[25,30,27],'gender':['female','male','female']}

In [32]:
df = pd1.DataFrame(data)

In [33]:
df

     Name  age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [34]:
#ques 4

In [35]:
DATA FRAME
the data frame is kind of data structure which contains its data if form of rows and columns and act like 
a spredsheet,it is faster and easier to use than table and spreadsheet
DIFFRENT FROM DATA SERIES
as data frame contain contaion both data column and index (row and column)

but data series contain only data column

SyntaxError: invalid syntax (2703138047.py, line 1)

In [ ]:
#example of data series

In [40]:
var_2 = [1,2,3,4,5,6,7,8]

In [44]:
v = pd1.Series(var_2)
print(v)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
#examle of data frame

In [47]:
var_3= [2,4,6,8,5,9]

In [49]:
df = pd1.DataFrame(var_3,columns= ['column1'])
print(df)

   column1
0        2
1        4
2        6
3        8
4        5
5        9

In [50]:
#ques 5

In [ ]:
datframe are both size and value mutable 
where as data series are only value mutable

In [ ]:
# ques 5

In [51]:
player = ['virat kohli','rohit sharma','kl rahul','rishabh pant']
team = ['RCB','MI','LSG','DC']

In [53]:
player_series = pd1.Series(player)
team_series = pd1.Series(team)

In [54]:
cric = {'player':player_series,'team':team_series}

In [55]:
op = pd1.DataFrame(cric)
print(op)

         player team
0   virat kohli  RCB
1  rohit sharma   MI
2      kl rahul  LSG
3  rishabh pant   DC